/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';

@include mat-core();

// using deeppurple-amber color combo: https://github.com/angular/material2/blob/master/src/lib/core/theming/prebuilt/deeppurple-amber.scss
$primary: mat-palette($mat-deep-purple);
$accent:  mat-palette($mat-amber, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);

$ag-mat-icons-path: "../node_modules/ag-grid-community/src/styles/ag-theme-material/icons/";
$ag-icons-path: "../node_modules/ag-grid-community/src/styles/ag-theme-base/icons/";
// $odd-row-background-color: #CFD8DC;
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
// @import "../node_modules/ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham.scss";

// Set the colors to blue and amber
$primary-color: #2196F3; // blue-500
$accent-color: #FFD740; // amber-A200
$ag-mat-primary: mat-color($primary);
$ag-mat-accent: mat-color($accent);

// Import the ag-Grid material theme
@import '../node_modules/ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material.scss';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
