/* You can add global styles to this file, and also import other style files */
$ag-icons-path: "../node_modules/ag-grid-community/src/styles/ag-theme-balham/icons/";
$odd-row-background-color: #CFD8DC;
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham.scss";

// Set the colors to blue and amber
$primary-color: #2196F3; // blue-500
$accent-color: #FFD740; // amber-A200

// Import the ag-Grid material theme
// @import '~ag-grid/src/styles/ag-theme-material/sass/ag-theme-material';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
