<section>
  <form [formGroup]="fraudSearch">
    <mat-form-field>
      <input matInput formControlName="transactionID" placeholder="Transaction ID" value="">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="confidenceLv" placeholder="Confidence Level" value="">
    </mat-form-field>
    <button (click)="searchFraud()" mat-raised-button color='primary'>Search</button>
  </form>
  <ag-grid-angular 
    style="width: 100%; height: 500px;"
    class="ag-theme-material"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    >
  </ag-grid-angular>
  <mat-icon mat-font-icon="fa-phone" class="fa"></mat-icon>
</section>